@charset "UTF-8";

@import 'base/normalize';

@import 'utils/variables';
@import 'utils/functions';
@import 'utils/mixins';

@import 'base/main';
@import 'base/typography';

@import 'layouts/grid';

@import 'components/icon';
@import 'components/instructions';
@import 'components/placeholder';
@import 'components/teamCard';
@import 'components/form';
@import 'components/chart';
@import 'components/skeleton';
@import 'components/searchInput';


@import 'pages/task';
